{% extends "bases/base_admin.html.twig" %}
{% block title %}Ruta nueva{% endblock %}
{% block body %}
    <div class="section-header">
        <h4><i>Ruta</i></h4>
        <div class="section-header-breadcrumb">
            <a href="{{ path('ruta_index') }}" class="btn" title="Regresar a la lista">
                <img class="icon" src="https://img.icons8.com/nolan/45/undo.png"/>
            </a>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Nuevo</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.Abrebiatura) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.nombreCompleto) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}