{% extends "bases/base_admin.html.twig" %}
{% block title %}Solicitud detalle{% endblock %}
{% block body %}
    <div class="section-header">
        <h4><i>Solicitud</i></h4>
        <div class="section-header-breadcrumb">
            <a href="{{ path('solicitud_index') }}" class="btn" title="Regresar a la lista">
                <img class="icon" src="https://img.icons8.com/nolan/45/undo.png"/>
            </a>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Detalle</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-invoice">
                            <table class="table table-md">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">NÚMERO CONTACTO</th>
                                    <th scope="col">CONTACTO</th>
                                    <th scope="col">FECHA</th>
                                    <th scope="col">APR</th>
                                    <th scope="col" colspan="3"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tbody>
                                    <tr>
                                        <td>{{ arRegistro.id }}</td>
                                        <td>{{ arRegistro.numeroContacto }}</td>
                                        <td>{{ arRegistro.Contacto }}</td>
                                        <td>{{ arRegistro.fechaSolicitud | date("Y-m-d") }}</td>
                                        <td>{{ arRegistro.estadoAprobado ? "SI" : "NO" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
